/* .footer {
    background-color: #343a40; 
    color: #ffffff;
    padding: 40px 0;
    width: 100%;
  }
  
  .footer h5 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .footer p,
  .footer li {
    font-size: 14px;
    color: #aaaaaa;
  }
  
  .footer a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .footer a:hover {
    color: #f8f9fa;
  }
  
  .footer .list-unstyled li {
    margin-bottom: 10px;
  }
  
  .footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.2;
  }
  
  .footer i {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .footer-logo {
    width: 200px;
  }
  
  .footer i.fas {
    margin-right: 10px;
    color: #ffffff;
  }
   */